.body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
} 
:root {
  --main-color:#402E7A;
  --secondary-color:#05CDFD;
}
.main-color {
  color: var(--main-color) !important;
}
.textShadow {
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.mainSparkyText {
  font-size: 15rem;
}
.icon-size {
  width: 90px;
}
.navIcon-size{
  width: 40px;
}
.gmail-size {
  width: 40px;
  cursor: pointer;
}.profile-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position it directly below the profile picture */
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 12px 16px;
  text-align: center;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu ul li a:hover {
  background-color: #f1f1f1;
}

.profile-container:hover .dropdown-menu {
  display: block;
}
.cover-wrapper {
  position: relative;
  height: 200px; /* Adjust this height as per your design */
}

.cover-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.profile-img {
  left: 10%;
  transform: translateX(-50%);
  top: 150px;  
  position: absolute;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}
.image-size {
  width: 40px;
  height: 40px;
}

.icon-size {
  width: 50px;
  height: 50px;
}
.messages {
  background-image: url('/public/images/bg2.png' );
}
.messageSender {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.messageSenderBg {
  background-color: #DCF8C6;
  margin-right: 10px;
}
.messageReceiver {
  align-self: flex-start;
}
.messageReceiverBg {
  background-color: #fff1a9;
}
.message {
  max-width: 70%;
  min-width: 35%;
}
.messageTime{
  font-size: 0.75rem;
}
